
.header-before-auth {
display: block;
background-color: #444444;
height: 77px;
line-height: 77px;
}
.header-before-auth > div {
  float:  right;
  margin-right: 25px;
}

.header-before-auth > div:first-child {
  float: left;
  margin-right: 0;
  margin-left: 20px;
}

.list {
  display: flex;
  margin: 10px;
  border: 3px double black;
}
.elem {
  padding: 10px;
  border-right: 2px solid black;
}
.delete-button {
margin-left: 5px;
}
.update-button {
  margin-left: 5px;
}

.profile-page-body {
  display: flex;
  background-color: #DCDCDC;
  justify-content: center;
  height: 650px;
  width: 100%;
}

.profile-content {
  background-color: #FFFFFF;
  margin-top: 25px;
  height: 80vh;
  width: 70%;
}

.profile-header {
  background-color: #EFEFEF;
  height: 15%;
  display: flex;
  
}
.profile-header-name {
  padding-top: 12px;
  width: 35%;
  border-right: 2px solid #FFFFFF;
}

.profile-private-first {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.profile-private-second {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.profile-private-third {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.reg-body {
  background-color: #E9ECF1;
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-form {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 320px;
  height: 450px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  
  }
  .reg-content {
    margin-left: 35px;
    margin-top: 30px;
  }
  
  .reg-fields {
    margin-top: 50px;
  }
  
  .reg-content > h1 {
      font-size: xx-large;
      font-weight: 600;
  }
  .reg-fields > h2 {
    font-size: small;
    font-weight: 500;
    margin-top: 25px;
  }
  
  .reg-fields > input {
    width: 250px;
    height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
  }
  .reg-fields > input:focus {
    outline: none;
    border: 2px solid #CDDAEB;
  }
  

.auth-body {
  background-color: #E9ECF1;
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form {
background-color: #FFFFFF;
border-radius: 10px;
width: 320px;
height: 380px;
box-shadow: 0 0 3px rgba(0,0,0,0.5);

}
.auth-content {
  margin-left: 35px;
  margin-top: 30px;
}

.auth-fields {
  margin-top: 50px;
}

.auth-content > h1 {
    font-size: xx-large;
    font-weight: 600;
}
.auth-fields > h2 {
  font-size: small;
  font-weight: 500;
  margin-top: 25px;
}

.auth-fields > input {
  width: 250px;
  height: 32px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.auth-fields > input:focus {
  outline: none;
  border: 2px solid #CDDAEB;
}

.auth-button {
  background: linear-gradient(to right, #25B1F5, #4A79F3);
  border: none;
  border-radius: 5px;
  color: #FFFCFF;
  font-weight: 600;
  margin-top: 45px;
  width: 250px;
  height: 32px;
}

.auth-button:focus{
  outline: none;
}

.users-body {
  background-color: #E9ECF1;
  min-height: 93vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.users-table {
  margin-top: 20px;
  width: 1200px;
}
td {
  width: 200px;
  border: 1px solid grey;
}
.header-before-auth > div > a {
  color: #ffffff !important;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: normal;
}