* {
  font-family: 'Roboto', sans-serif;
}
.header-before-auth {
display: block;

background-color: #444444;
height: 77px;
line-height: 77px;
}
.header-before-auth > div {
  float:  right;
  margin-right: 25px;
}

.header-before-auth > div:first-child {
  float: left;
  margin-right: 0;
  margin-left: 20px;
}

.reg-body {
  background-color: #E9ECF1;
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-form {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 320px;
  height: 450px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  
  }
  .reg-content {
    margin-left: 35px;
    margin-top: 30px;
  }
  
  .reg-fields {
    margin-top: 50px;
  }
  
  .reg-content > h1 {
      font-size: xx-large;
      font-weight: 600;
  }
  .reg-fields > h2 {
    font-size: small;
    font-weight: 600;
    margin-top: 25px;
  }
  
  .reg-fields > input {
    width: 250px;
    height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
  }
  .reg-fields > input:focus {
    outline: none;
    border: 2px solid #CDDAEB;
  }
  

.auth-body {
  background-color: #E9ECF1;
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form {
background-color: #FFFFFF;
border-radius: 10px;
width: 320px;
height: 380px;
box-shadow: 0 0 3px rgba(0,0,0,0.5);

}
.auth-content {
  margin-left: 35px;
  margin-top: 30px;
}

.auth-fields {
  margin-top: 50px;
}

.auth-content > h1 {
    font-size: xx-large;
    font-weight: 600;
}
.auth-fields > h2 {
  font-size: small;
  font-weight: 600;
  margin-top: 25px;
}

.auth-fields > input {
  width: 250px;
  height: 32px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.auth-fields > input:focus {
  outline: none;
  border: 2px solid #CDDAEB;
}

.auth-button {
  background: linear-gradient(to right, #25B1F5, #4A79F3);
  border: none;
  border-radius: 5px;
  color: #FFFCFF;
  font-weight: 600;
  margin-top: 45px;
  width: 250px;
  height: 32px;
  letter-spacing: 1px;
}

.auth-button:focus{
  outline: none;
}

.users-body {
  background-color: #ffffff;
  min-height: 93vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.users-table {
  margin-top: 20px;
  width: 1200px;
}
tr {
  border-bottom: 2px solid #E9ECF1;
}

thead > tr {
  border:none;
}
td {
  height: 50px;
  width: 270px;
}

td:first-child {
  width: 60px;
}

.header-before-auth > div > a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: normal;
}

.header-before-auth > div > a:hover {
color: #A2A2A2;
}

.users-icon {
  color: #47B8E1;
}
.users-button {
  width: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.pagination {
  margin-top: 30px;

}
.MuiPagination-ul > li {
  outline: none;
}

.MuiPagination-ul > li > button:focus {
  outline: none
}

.trainings-body {
  background-color: #E9ECF1;
  min-height: 93vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainings-content {
  width: 1200px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trainings-container {
  text-align: center; 
}

.train-cards {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 420px;
  width: 31%;
  border-radius: 3px;
  margin-bottom: 40px;
  box-shadow: #d2d2d2 0px 0px 10px;
  transition: all 0.3s;
  cursor: pointer;
}
.card-name {
  align-self: center;
  margin-top: 10px;
  font-weight: 700;
  font-size: x-large;
  letter-spacing: 1px;
}
.card-description {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  align-self: center; 
}
.trains-image {
  margin-top: 15px;
  align-self: center;
  width: 85%;
  height: 235px;
}
.trains-image > img {
  width: 100%;
  height: 100%;
  border-radius: 8%;
  box-shadow: #d2d2d2 0px 0px 5px;
}


.trainings-title {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: normal;
}

.train-cards:hover {
  margin-top: -5px;
  box-shadow: #d2d2d2  0px 25px 40px;
}

.profile-page-body {
  display: flex;
  flex-direction: column;
  background-color: #DCDCDC;
  align-items: center;
  min-height: 93vh;
  width: 100%;
}

.profile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 60px;
  margin-top: 20px;
  border: 2px solid #CDDAEB;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #FAFBFC;
}
.profile-header > div > a {
  text-decoration: none;
  color: #B4B8B9;
  padding-bottom: 10px;
  
}

.profile-header > div > a:hover {
  border-bottom: 2px solid #D1D5DA;
}

.profile-header > div > a.active {
  color: #333333;
  padding-bottom: 18px;
  border-bottom: 2px solid blue;
}

.content-personal {
  background-color: #FAFBFC;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  height: 360px;
  margin-top: 0px;
  border: 2px solid #CDDAEB;
  border-top: none;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  height: 360px;
  margin-left: 30px;
}

.avatar > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80%;

  border-radius: 5px;
}

.avatar > div {
  margin-top: 15px;
  align-self: center;
  font-size: x-large;
  font-weight: 600;
}

.personal-data {
  display: flex;
  margin-left: 70px;
  width: 540px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.personal-data > div {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 15px;
}

.personal-data > div > h2 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 1px;
}

.personal-data > div > input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  height: 32px;
}

.personal-data > div > input:focus {
  outline: none;
  border: 2px solid #CDDAEB;
}

.change-info-button {
  height: 32px;
  margin-top: 20px;
  border: none;
  background-color: #7289DA;
  border-radius: 5px;
  color: #ffffff;
}

.change-info-button:focus {
  outline: none;
}

.change-info-button:hover {
  background-color: #7279DA;
}

.save-info-button {
  height: 32px;
  margin-top: 20px;
  border: none;
  background-color: #19cf4f;
  border-radius: 5px;
  color: #ffffff;
}

.save-info-button:focus {
  outline: none;
}

.save-info-button:hover {
  background-color: #04bf3b;
}

.training-body {
  display: flex;
  background-color: #DCDCDC;
  justify-content: center;
  min-height: 93vh;
  width: 100%;
}

.training-content {
  background-color: #FAFBFC;
  margin-top: 20px;
  width: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid #CDDAEB;
}

.training-content-head {
  display: flex;
}
.training-content-head > div{
  margin-left: 22px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  height: 290px;
}

.training-content-head > div > h1 {
  font-weight: 600;
  margin-bottom: 20px;
}
.training-content-head > div > h2 {
  font-size: x-large;
}

.training-content-head > img {
  margin-top: 20px;
  margin-left: 20px;
  width: 45%;
  max-height: 270px;
  height: auto;
  border-radius: 15px;
  box-shadow: #d2d2d2 0px 0px 10px;

}
.follow-button {
  align-self: center;
  width: 150px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #3C95E7;
  color: #F8F8F8;
  border: none;
  border-radius: 6px;
  transition: all 0.3s;
  font-weight: 600;
  letter-spacing: 1px;
}
.follow-button:focus {
  outline: none;
}

.follow-button:hover {
  background-color: #3c72e7;
}

.training-content-body {
  background-color: #FAFBFC;
  width: 100%;
}

.training-content-body-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border-top: 2px solid #CDDAEB;
  border-bottom: 2px solid #CDDAEB;
  background-color: #FAFBFC;
}

.training-content-body-header > div > a {
  text-decoration: none;
  color: #B4B8B9;
  padding-bottom: 10px;
  font-weight: 600;
  
}

.training-content-body-header > div > a:hover {
  border-bottom: 2px solid #D1D5DA;
}

.training-content-body-header > div > a.active {
  color: #333333;
  padding-bottom: 18px;
  border-bottom: 2px solid blue;
}

.exercises {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.exercises > h2 {
  margin-top: 20px;
  font-weight: 600;
  align-self: center;
  font-size: xx-large;
}

.exercise {
  display: flex;
  align-self: center;
  flex-direction: row;
  border: 1px solid #CDDAEB;
  border-radius: 10px;
  margin-top: 20px;
  width: 95%; 
}

.exercise-div-img {
  margin-top: auto;
  margin-left: 10px;
  display: flex;
  width: 280px;
  height: 200px;
}
.exercise-img {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.exercise-info {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.counts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.counts > div {
  font-weight: 600;
}

.exercise-description {
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
}

.exercise-info > h2 {
  margin-top: 10px;
}

.content-security {
  background-color: #FAFBFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 250px;
  margin-top: 0px;
  border: 2px solid #CDDAEB;
  border-top: none;
}

.content-security > h2 {
  margin-top: 10px;
  align-self: center;
  font-size: x-large;
  margin-bottom: 20px;
}

.security-fields {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
}

.security-fields > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.security-fields > div > h2 {
  font-size: 13px;
  margin: 0;
  font-weight: 600;
  margin-bottom: 3px;

}
.security-fields > div > input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  height: 32px;
  width: 200px;
  margin-bottom: 30px;
}

.security-fields > div > input:focus {
  outline: none;
  border: 2px solid #CDDAEB;
}

.security-button {
  margin-top: 19px;
  height: 32px;
  border: none;
  background-color: #19cf4f;
  border-radius: 5px;
  color: #ffffff;
}

.security-button:focus {
  outline: none;
}

.security-button:hover {
background-color: #04bf3b;
}

.content-profile-tranings {
  background-color: #FAFBFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 0px;
  border: 2px solid #CDDAEB;
  border-top: none;
}

.profile-training {
  display: flex;
  align-self: center;
  flex-direction: row;
  border: 1px solid #CDDAEB;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%; 
}

.profile-training-img {
  width: 280px;
  height: 200px;
  display: flex;
}

.profile-training-img > img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.profile-training-info {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  width: 500px;
  justify-content: space-between;
}

.profile-training-info > h2 {
  margin-top: 10px;
}

.profile-training-info > div {
  text-align: center;
}

.profile-training-button {
  align-self: center;
  width: 150px;
  height: 40px;
  background-color: #3C95E7;
  color: #F8F8F8;
  border: none;
  border-radius: 6px;
  transition: all 0.3s;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.profile-training-button:focus {
  outline: none;
}

.profile-training-button:hover {
  background-color: #3c72e7;
}

.content-achievements {
  background-color: #FAFBFC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  width: 70%;
  margin-top: 0px;
  border: 2px solid #CDDAEB;
  border-top: none;
}

.achieve-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CDDAEB;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 32%; 
  align-items: center;
  min-height: 320px;
  flex-wrap: wrap;
}

.achieve-card-img {
  margin-top: 20px;
  width: 90%;
  height: 150px;
}

.achieve-card-img > img {
  width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 5px;
}

.achieve-card-description {
 text-align: center;
 margin-top: auto;
 margin-bottom: auto;
}

.achieve-card > h2 {
  margin-top: 10px;
}

.content-records {
  background-color: #FAFBFC;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 0px;
  border: 2px solid #CDDAEB;
  border-top: none;
  align-items: center;
  padding-bottom: 20px;

}

.profile-record {
  display: flex;
  justify-content: space-around;
  border: 1px solid #CDDAEB;
  width: 90%;
  height: 100px;
  border-radius: 10px;
  align-items: center;
  margin-top: 25px;
  
}

.profile-record > div > h2 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 3px;
}

.profile-record > div > input {
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  height: 32px;
}

.profile-record > div > input:focus {
  outline: none;
  border: 2px solid #CDDAEB;
}

.auth-error {
  width: 270px;
  /* padding-top: 5px; */
  text-align: center;
  margin-top: 5px;
  height: 50px;
  background-color: red;
  color: #ffffff;
  border-radius: 10px;
}